################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HospitaFlow/.vs/HospitaFlow
/HospitaFlow/obj
/HospitaFlow.Application/obj
/HospitaFlow.Domain/obj
/HospitaFlow.Infrastructure/obj
/HospitaFlow/.vs/ProjectEvaluation
/HospitaFlow/bin/Debug/net8.0
/HospitaFlow.Application/bin/Debug/net8.0
/HospitaFlow.Domain/bin/Debug/net8.0
/HospitaFlow.Infrastructure/bin/Debug/net8.0
